<a href="https://colab.research.google.com/github/Hyuki56/pythonStudy25/blob/master/2_2_BaseStringType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"Hello World"

food = "Python's favorite food is perl"
print(food)

Python's favorite food is perl

In [ ]:
say = '"Python is very easy." he says.'
print(say)

"Python is very easy." he says.

In [ ]:
food = 'Python\'s favorite food is perl'
print(food)
say = "\"Python is very easy.\" he says"
print(say)

Python's favorite food is perl
"Python is very easy." he says

In [ ]:
multiline = '''
  Life is too short
  You need python
  '''
print(multiline)

  Life is too short
  You need python

In [ ]:
# 문자열 더해서 연결하기
head = "Python"
tail = " is fun "
head + tail

'Python is fun '

In [ ]:
# 문자열 곱하기
a = "python "
a * 2

'python python '

In [ ]:
# 문자열 곱하기 응용1
# multistring.py
# cmd 창에서 다음 명령어를 통해 파일 실행 > python multistring.py ( python 파일명 )
print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

In [ ]:
# 문자열 길이 구하기
a =  "Life is too short"
len(a)

17

In [ ]:
#문자열 인덱싱
a = "Life is too short, You need Python"
print(a[3])
print(a[0])
print(a[12])
print(a[-1])

e
L
s
n

In [ ]:
# 문자열 슬라이싱
a = "Life is too short, You need Python"
b = a[0:4] # 0 <= a < 4
print(b)
c = a[-6:]
print(c)

Life
Python

In [ ]:
# 슬라이싱으로 문자열 나누기
a = "20250226Clean"
year = a[:4]
date = a[4:8]
weather = a[8:]
print(year)
print(date)
print(weather)

2025
0226
Clean

In [ ]:
# 문자열 바꾸기
a = "Pithon"
# a[1] = 'y' #문자열의 요솟값은 바꿀수 있는 값이 아님 변경불가능한(immutable) 자료형이다.

a[:1] + 'y'+ a[2:]

'Python'

In [ ]:
# 문자열 포매팅
# 1. 숫자 바로 대입
"I eat %d apples." %3

'I eat 3 apples.'

In [ ]:
# 문자열 포매팅
# 2. 문자열 바로 대입
"I eat %s apples." %"five" # 문자열을 삽입하기 위해 %d 가 아닌 %s 입력

'I eat five apples.'

In [ ]:
# 문자열 포매팅
# 3. 변수 대입
number = 3
" I eat %d apples." % number

' I eat 3 apples.'

In [ ]:
# 문자열 포매팅
# 4. 2개 이상의 값 넣기
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

In [ ]:
# 정렬과 공백
"%10s" %"hi" # %10s 는 전체 길이가 10개인 문자열 공간에서 대입되는 값을 오른쪽으로 정렬하고 그 앞의 나머지는 공백으로 남겨 두라는 의미이다.

'        hi'

In [ ]:
# 정렬과 공백
"%-10sjane" % "hi" # 그렇다면 반대쪽인 왼쪽 정렬은 %-10s가 될 것이다.hi를 왼쪽으로 정렬하고 나머지는 공백으로 채웠다는 것을 알 수 있다.

'hi        jane'

In [ ]:
# 소수점 표현하기
"%0.4f" % 3.42134234 # %.4f로 써도 동일

'3.4213'

In [ ]:
# foramt 함수를 사용한 포매팅
"I eat {0} apples".format(3)

'I eat 3 apples'

In [ ]:
# foramt 함수를 사용한 포매팅
# 문자열 바로 대입하기
"I eat {0} apples".format("five")

'I eat five apples'

In [ ]:
# foramt 함수를 사용한 포매팅
# 숫자 값을 가진 변수로 대입하기
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [ ]:
# foramt 함수를 사용한 포매팅
# 2개 이상의 값 넣기
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [ ]:
# foramt 함수를 사용한 포매팅
# 이름으로 넣기
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [ ]:
# foramt 함수를 사용한 포매팅
# 인덱스와 이름을 혼용해서 넣기
"I ate {0} apples. so I was sick for {day} das.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 das.'

In [ ]:
# 정렬
print("{0:<10}".format("hi")) # 좌측정렬 10자리
print("{0:>10}".format("hi")) # 우측정렬 10자리
print("{0:^10}".format("hi")) # 가운데정렬 10자리
# 공백 채우기
print("{0:=^10}".format("hi")) # 가운데정렬 10자리

hi
        hi
    hi
====hi====

In [ ]:
# 소수점 표현하기
y = 3.42134234
"{0:.4f}".format(y)

'3.4213'

In [ ]:
# f 문자열 포매팅
name = "홍길동"
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [ ]:
# f 문자열 포매팅은 표현식을 지원
# 표현식 : 중괄호 안의 변수를 계산식과 함께 사용하는 것
age = 30
f'나는 내년이면 {age +1}살이 된다'

'나는 내년이면 31살이 된다'

In [ ]:
# f 문자열 포매팅에서의 딕셔너리 사용법
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [ ]:
# 문자 개수 세기 - count
a = "hobby"
a.count('b')

2

In [ ]:
# 위치 알려주기 1 - find
a = "Python is the best choice"
print(a.find('a'))
print(a.find('k'))

-1
-1

In [ ]:
# 위치 알려주기 2 - index
a = "Life is too short"
a.index('t')
# a.index('k') # 존재하지 않는 문자 찾을 시 오류 발생

8

In [ ]:
#문자열 삽입 - join
",".join('abcd')
'a,b,c,d'

'a,b,c,d'

In [ ]:
# 소문자를 대문자로 바꾸기 upper
a = 'hi'
a.upper()

'HI'

In [ ]:
# 대문자를 소문자로 바꾸기 lower
a = "HI"
a.lower()

'hi'

In [ ]:
# 왼쪽 공백 지우기 lstrip
a = ' hi '
a.lstrip()

'hi '

In [ ]:
# 오른쪽 공백 지우기 rstrip
a = ' hi '
a.rstrip()

' hi'

In [ ]:
# 양쪽 공백 지우기 strip
a = ' hi '
a.strip()

'hi'

In [ ]:
# 문자열 바꾸기 replace
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [ ]:
# 문자열 나누기 split
a = "Life is too short"
print(a.split())
b = "a:b:c:d"
print(b.split(':'))

['Life', 'is', 'too', 'short']
['a', 'b', 'c', 'd']