<a href="https://colab.research.google.com/github/Hyuki56/pythonStudy25/blob/master/2_3_BaseListType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 이중 리스트에서 끌어내기
a = [1, 2, 3, ['a', 'b', 'c']]
print(a[3][0])
print(a[3][1])

a
b

In [ ]:
# 삼중 리스트에서 끌어내기
a = [1, 2, ['a', 'b', ['Life', 'is']]]
print(a[2][2][0])
print(a[2][2][1])

Life
is

In [ ]:
# 리스트의 슬라이싱
a = [1,2,3,4,5]
print(a[0:2])

a="12345" # 스트링 역시 사용방법 동일
print(a[0:2])

[1, 2]
12

In [ ]:
a = [1, 2, 3, 4, 5]
b = a[:2]
c = a[2:]

print(b)
print(c)

[1, 2]
[3, 4, 5]

In [ ]:
# 중첩된 리스트에서 슬라이싱하기
a = [1, 2, 3,['a', 'b', 'c',], 4, 5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [ ]:
# 리스트 더하기
a = [1,2,3]
b = [4,5,6]
a + b

[1, 2, 3, 4, 5, 6]

In [ ]:
# 리스트 반복 + 길이 구하기
a = [1,2,3]
len(a*3)

9

In [ ]:
# 서로 다른 타입( 정수와 문자열 ) 더하기
a = [1, 2, 3]
str(a[2]) + "hi"

'3hi'

In [ ]:
# 리스트 값 수정하기
a = [1,2,3]
a[2] = 4
a

[1, 2, 4]

In [ ]:
#del 함수를 사용해 리스트 요소 삭제하기
# del a[x]는 X 번째 요솟값을 삭제한다. 객체란 파이썬에서 사용되는 모든 자료형을 말한다.
a = [1,2,3]
del a[1]
a

[1, 3]

In [ ]:
# 슬라이싱을 사용하여 리스트의 요소 여러개를 한 번에 삭제
a = [1,2,3,4,5]
del a[2:]
a

[1, 2]

In [ ]:
# 리스트에 요소 추가하기 append
# 리스트에는 어떤 자료형이든 추가할 수 있다
a = [1,2,3]
a.append(4)
print(a)
a.append([5,6])
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4, [5, 6]]

In [ ]:
# 리스트 정렬 sort
a = [1,4,3,2]
a.sort()
print(a)

# 리스트 뒤집기 reverse
a.reverse()
print(a)

[1, 2, 3, 4]
[4, 3, 2, 1]

In [ ]:
# 인덱스 (현재 위치) 반환 index
a = [1,2,3]
print(a.index(3))
print(a.index(1))

2
0

In [ ]:
# 리스트 요소 삽입 insert
a = [1,2,3]
a.insert(0,4)
print(a)
a.insert(3,5)
print(a)

[4, 1, 2, 3]
[4, 1, 2, 5, 3]

In [ ]:
# 리스트 요소 제거 remove
a = [1,2,3,1,2,3]
a.remove(3) # 첫 번째 3 제거
print(a)
a.remove(3) # 두 번째 3 제거
print(a)

[1, 2, 1, 2, 3]
[1, 2, 1, 2]

In [ ]:
# 리스트 요소 끄집어 내기 pop
a = [1,2,3]
print("삭제된 값 : " + str(a.pop()) # pop() 은 리스트의 맨 마지막 요소를 리턴하고 그 요소는 삭제한다.
print(a)

b = [1,2,3]
print("삭제된 값 : " + str(b.pop(1))) # 1번 index 리턴하고 삭제
print(b)

삭제된 값 : 3
[1, 2]
삭제된 값 : 2
[1, 3]

In [ ]:
# 리스트에 포함된 요소 x의 개수 세기 count
a = [1,2,3,1]
a.count(1)

2

In [ ]:
# 리스트 확장 extend
a = [1,2,3]
a.extend([4,5]) # a += [4,5]와 동일
print(a)

b = [6,7]
a.extend(b)
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7]