<a href="https://colab.research.google.com/github/Hyuki56/pythonStudy25/blob/master/3_3_ForExam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#for 문 사용하여 합격 불합격 나누기
marks = [90, 25, 67, 45, 80]

member = 0
for i in marks:
  member+=1
  if i >= 60:
    print(f"{member}번 학생은 합격입니다.")
  else:
    print(f"{member}번 학생은 불합격입니다.")

In [ ]:
#for 문과 continue를 사용하여 합격만 출력 ( continue를 만나면 for문 처음으로 )
marks = [90, 25, 67, 45, 80]
member = 0
for score in marks:
  member += 1
  if score < 60:
    continue
  print(f"{member}번 학생 축하드립니다. {score}점으로 합격입니다")

1번 학생 축하드립니다. 90점으로 합격입니다
3번 학생 축하드립니다. 67점으로 합격입니다
5번 학생 축하드립니다. 80점으로 합격입니다

In [ ]:
# range 함수
add = 0
for i in range(1, 11):
  add += i

print(add)

55

In [ ]:
# range 함수를 활용하여 간단하게 출력
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
  if marks[number] < 60:
    continue
  print(f"{number}번 학생 축하드립니다. 합격입니다.")

0번 학생 축하드립니다. 합격입니다.
2번 학생 축하드립니다. 합격입니다.
4번 학생 축하드립니다. 합격입니다.

In [ ]:
#for & range를 이용한 구구단 ( 좌측 정렬 )
for i in range(1, 10):
  for j in range(1, 10):
    print(f"{i*j:<5} ",end="")
  print(" ")

1     2     3     4     5     6     7     8     9
2     4     6     8     10    12    14    16    18
3     6     9     12    15    18    21    24    27
4     8     12    16    20    24    28    32    36
5     10    15    20    25    30    35    40    45
6     12    18    24    30    36    42    48    54
7     14    21    28    35    42    49    56    63
8     16    24    32    40    48    56    64    72
9     18    27    36    45    54    63    72    81

In [ ]:
# 리스트 컴프리헨션( 리스트 안에 for문 ) 사용
a = [1,2,3,4]
result = []
for num in a:
  result.append(num*3)

print(result)

[3, 6, 9, 12]

In [ ]:
a = [1,2,3,4]
result = [num * 3 for num in a if num % 2 == 0]
print(result)

[6, 12]

In [ ]:
# 컴프리헨션을 사용하여 구구단을 리스트에 담기
result = [x*y for x in range(2,10)
              for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [ ]:
from functools import total_ordering
# 성적 처리
# 1. 여러명의 데이터를 리스트로 입력 받아 처리
# 2. 성적에 대한 CRUD
# 3. 학생에 대한 CRUD
# 4. 통계에 대한 CRUD 등을 작성한다

# 1. 데이터 처리 받기 위한 과목을 리스트로 선언
student = []
kor = []
math = []
eng = []

# 2. 반복문을 통한 성적을 리스트에 추가하기 ( if 1>C 2>R 3>U 4>D )
run = True
while run:
    print("""
    1. 학생 성적 입력
    2. 특정 학생 성적 조회
    3. 특정 학생 성적 수정
    4. 특정 학생 성적 삭제
    0. 프로그램 종료
    """)

    select = int(input("원하는 항목을 선택하세요 : "))
    print('=' * 30)

    if select == 0:
        run = False
    elif select == 1: # Create
        student.append(input("이름을 입력하세요 : "))
        kor.append(int(input("국어 점수를 입력하세요 : ")))
        math.append(int(input("수학 점수를 입력하세요 : ")))
        eng.append(int(input("영어 점수를 입력하세요 : ")))
        continue
    elif select == 2: # Read
        print(f"이름 : {student}")
        number = int(input("조회할 학생의 번호를 입력하세요 : "))
        print(f"이름 : {student[number]} 국어 : {kor[number]} 수학 : {math[number]} 영어 : {eng[number]}")
        continue
    elif select == 3: # Update
        print(f"이름 : {student}")
        number = int(input("수정할 학생의 번호를 입력하세요: "))
        kor[number] = int(input("국어 점수를 입력하세요 : "))
        math[number] = int(input("수학 점수를 입력하세요 : "))
        eng[number] = int(input("영어 점수를 입력하세요 : "))
        continue
    elif select == 4: # Delete
        print(f"이름 : {student}")
        number = int(input("삭제할 학생의 번호를 입력하세요 : "))
        del student[number]
        del kor[number]
        del math[number]
        del eng[number]
        continue
    else:
        print("잘못 선택하셨습니다")
        continue

# 3. 전체 학생 출력
for i in range(len(student)):
    print(f"{student[i]}님의 점수는 국어 : {kor[i]:>3} 수학 : {math[i]:>3} 영어 : {eng[i]:>3}")
    i += 1

# 4. 모든 학생의 통계 ( 과목별 평균 , 총합 평균)
total_kor = 0
total_math = 0
total_eng = 0
avg = 0

for i in kor:
    total_kor += i
for i in math:
    total_math += i
for i in eng:
    total_eng += i

print(f"""
과목별 평균 점수를 출력합니다""")
print(f"전체 국어 평균 : {total_kor/len(kor)}")
print(f"전체 수학 평균 : {total_math/len(math)}")
print(f"전체 영어 평균 : {total_eng/len(eng)}")

    1. 학생 성적 입력
    2. 특정 학생 성적 조회
    3. 특정 학생 성적 수정
    4. 특정 학생 성적 삭제
    0. 프로그램 종료

원하는 항목을 선택하세요 : 1
==============================
이름을 입력하세요 : 1
국어 점수를 입력하세요 : 30
수학 점수를 입력하세요 : 30
영어 점수를 입력하세요 : 40

    1. 학생 성적 입력
    2. 특정 학생 성적 조회
    3. 특정 학생 성적 수정
    4. 특정 학생 성적 삭제
    0. 프로그램 종료

원하는 항목을 선택하세요 : 0
==============================
1님의 점수는 국어 :  30 수학 :  30 영어 :  40

과목별 평균 점수를 출력합니다
전체 국어 평균 : 30.0
전체 수학 평균 : 30.0
전체 영어 평균 : 40.0