<a href="https://colab.research.google.com/github/Hyuki56/pythonStudy25/blob/master/BaseForType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#for 문 사용하여 합격 불합격 나누기
marks = [90, 25, 67, 45, 80]

member = 0
for i in marks:
  member+=1
  if i >= 60:
    print(f"{member}번 학생은 합격입니다.")
  else:
    print(f"{member}번 학생은 불합격입니다.")

In [2]:
#for 문과 continue를 사용하여 합격만 출력
marks = [90, 25, 67, 45, 80]
member = 0
for i in marks:
  member += 1
  if i < 60:
    continue
  print(f"{member}번 학생 축하드립니다. {i}점으로 합격입니다")

1번 학생 축하드립니다. 90점으로 합격입니다
3번 학생 축하드립니다. 67점으로 합격입니다
5번 학생 축하드립니다. 80점으로 합격입니다

In [6]:
# range 함수
add = 0
for i in range(1, 11):
  add += i

print(add)

55

In [7]:
# range 함수를 활용하여 간단하게 출력
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
  if marks[number] < 60:
    continue
  print(f"{number}번 학생 축하드립니다. 합격입니다.")

0번 학생 축하드립니다. 합격입니다.
2번 학생 축하드립니다. 합격입니다.
4번 학생 축하드립니다. 합격입니다.

In [16]:
#for & range를 이용한 구구단
for i in range(1, 10):
  for j in range(1, 10):
    print(f"{i}*{j}={i*j} ",end="")
  print(" ")

1*1=1 1*2=2 1*3=3 1*4=4 1*5=5 1*6=6 1*7=7 1*8=8 1*9=9
2*1=2 2*2=4 2*3=6 2*4=8 2*5=10 2*6=12 2*7=14 2*8=16 2*9=18
3*1=3 3*2=6 3*3=9 3*4=12 3*5=15 3*6=18 3*7=21 3*8=24 3*9=27
4*1=4 4*2=8 4*3=12 4*4=16 4*5=20 4*6=24 4*7=28 4*8=32 4*9=36
5*1=5 5*2=10 5*3=15 5*4=20 5*5=25 5*6=30 5*7=35 5*8=40 5*9=45
6*1=6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36 6*7=42 6*8=48 6*9=54
7*1=7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63
8*1=8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72
9*1=9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

In [17]:
# 리스트 컴프리헨션( 리스트 안에 for문 ) 사용
a = [1,2,3,4]
result = []
for num in a:
  result.append(num*3)

print(result)

[3, 6, 9, 12]

In [18]:
a = [1,2,3,4]
result = [num * 3 for num in a if num % 2 == 0]
print(result)

[6, 12]

In [19]:
# 컴프리헨션을 사용하여 구구단을 리스트에 담기
result = [x*y for x in range(2,10)
              for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]