<a href="https://colab.research.google.com/github/Hyuki56/pythonStudy25/blob/master/BaseSetType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#집합 자료형
s1 = set([1,2,3])
s1

{1, 2, 3}

In [4]:
# 집합 자료형은 1. 중복x 2. 순서가 없다
s2 = set('hello')
s2

{'e', 'h', 'l', 'o'}

In [12]:
# list나 tuple과 달리 순서가 없기 때문에 인덱싱을 통해 요솟값을 얻으려면 set 자료형을 리스트나 튜플로 변환

s1 = set([1,2,3])
# 리스트로 변환
l1 = list(s1)
print(l1)
print(l1[0])
# 튜플로 변환
t1 = tuple(s1)
print(t1)
print(t1[0])

[1, 2, 3]
1
(1, 2, 3)
1

In [18]:
# 교집합, 합집합, 차집합 구하기
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

# 교집합
print(s1 & s2)

# 합집합
print(s1 | s2) # = s1.union(s2)

# 차집합
print(s1 - s2) # = s1.difference(s2)
print(s2 - s1)

{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{8, 9, 7}

In [22]:
# 값 1개 추가하기 add
s1 = set([1,2,3])
s1.add(4)
print(s1)

# 값 여러 개 추가하기 update
s1 = set([1,2,3])
s1.update([4,5,6])
print(s1)

# 특정 값 제거하기 remove
s1 = set([1,2,3])
s1.remove(2)
print(s1)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 3}